
/// funciona pero todavia no se como
                                                                           
//               `-::::::::-.`                                             
//             :o+````   ```.://:-`                                        
//           `sy/`              `.:/:`                                     
//         .:+.`                    .+:                                    
//       `+:`                         :+`                                  
//      -+.                            `o`                                 
//     :+`                              .s`                                
//    .s                                 .o                                
//    s.      .:+s+::::                   +:                               
//   `s        `yy-            :   `:::-.--y`                              
//   .o                      -.o.     `..dmh-                              
//   .+                      `//`        `-:/                              
//   .+                     ````           .+                              
//   `s                 .//:::://          :/    /  o                      
//    s.               :-      /.          s`   s- .y                      
//    `y                       :+o.       -+    s- //                      
//     .s          :o+//:::-` `s y       .s     :  `.                      
//      -o         `.-:+yooso:/: s      `s`   +ysssssss/                   
//      -oo-           -o+/.`    s`    -o`    s````````y/+                 
//      y `-/:`         :oy/.-::o.o  -o:`     -o`     -h/d/-               
//      s    .//-.`       -:-.` s`/s/-s        ./:::::+o-::s/.             
//      s      `..:///:---...--:o+ o- +.            `  .o  `-y-            
//      s`   :.       ``.......` +-`/ :/               /-    s:            
//      :+  `y                    s`  -/               s`   .s             
//       y  `s                    -o.`-/              `y    .+             
//       /:  s`                  `.h+/::              //    `s             
//       `s  .o`             ```.o--hso+/.            y  `o//+             
//        //` .o-  ``..-://:::-:/-.:o/://y`          .o  :/                
//         .s+-`/+/:--..``.-::::::.`+.               +-  s`                
//          /:.:://::::::-.`        :/              `s  .o                 
//          `s                       s`             o.  o`                    

.cardsList {
  width: 90vw;
  min-height: 80vh;
  margin: auto;
  display: grid;
  @include portrait {
    grid-template-columns: repeat(
      auto-fit,
      minmax(0, clamp((80vh / 6), (20vw), (80vh / 2)))
    );
  }
  @include landscape {
    grid-template-columns: repeat(
      auto-fit,
      minmax(0, clamp((80vh / 4), (18vw * 0.75), (80vh /2)))
    );
    
  }
  justify-content: space-around;
  align-content: space-around;
  justify-items: center;
  align-items: center;
}

.card {
  @include portrait {
    height: clamp((80vh / 9.5), (11vw), ((80vh / 8)));
    margin: 2vw;
  }

  @include landscape {
    height: clamp((80vh / 6.5), (11vw * 0.75), ((80vh / 4.5)));
    margin: clamp(2vh, 2vw, 4vh);
  }

  aspect-ratio: 4 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  user-select: none;
  cursor: pointer;
}

.card-img {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1 / 9;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(46, 46, 51);
  overflow: hidden;
  user-select: none
}

.card-left {
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 2;
  -webkit-user-drag: none;
}

.card-right {
  position: absolute;
  height: 100%;
  left: 44.9%;
  z-index: 2;
  -webkit-user-drag: none;
}

.card-bg {
  position: absolute;
  top: -10%;
  height: 120%;
  z-index: 1;
  -webkit-user-drag: none;
}

.card-name {
  position: relative;
  grid-column: 1 / 5;
  grid-row: 6 / 8;
  margin: 0;
  justify-self: end;
  align-self: end;
  z-index: 3;
  background-color: hsla(0, 0%, 10%, 0.25);
  box-shadow: 0 0 12px 10px hsla(0, 0, 10%, 0.25);
  overflow: hidden;
  user-select: none;
}

.card-name-span {
  display: block;
  position: relative;
  opacity: 0;
  transform: translatey(50%) skewY(10deg);
}
