.cardsList {
  width: 90%;
  padding: 0 5%;
  display: grid;
  @include portrait {
    grid-template-columns: repeat(auto-fit, 15vw);
  }
  @include landscape {
    grid-template-columns: repeat(6, 1fr);
  }
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card {
  @include portrait {
    width: 11vw;
    margin: 2vw;
  }

  @include landscape {
    height: clamp(8vh, 11vw * 0.75, 17vh);
    margin:clamp(2vh, 2vw, 4vh);
  }
  aspect-ratio: 4 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  cursor: pointer;
}

.card-img {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 1 / 9;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(46, 46, 51);
  overflow: hidden;
}

.card-back {
  position: absolute;
  height: 80%;
  padding: 10% 20%;
  z-index: 2;
  background-color: rgb(46, 46, 51);
}

.card-bg {
  position: absolute;
  top: -10%;
  height: 120%;
  z-index: 1;
}

.card-name {
  grid-column: 1 / 5;
  grid-row: 6 / 8;
  margin: 0;
  justify-self: end;
  align-self: end;
  z-index: 3;
  background-color: hsla(0, 0%, 10%, 0.25);
  box-shadow: 0 0 12px 10px hsla(0, 0, 10%, 0.25);
}