.contBar-cont {
  width: 90%;
  @include portrait {
    height: 4vw;
  }
  @include landscape {
    height: clamp(6vh, 4vw, 10vh);
  }
  padding: 2vh 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contBar-info {
  display: flex;
  align-items: center;
}

.aling-names {
  margin: 0;
  align-self: flex-start;
}

.mainTime {
  @include portrait {
    font-size: 5vw;
  }
  @include landscape {
    font-size: clamp(4vh, 5vw, 10vh);
  }
  margin: 0 1vw;
  line-height: 80%;
  align-self: flex-end;
  
  &::selection {
    background-color: $text;
    color: $bg;
  }
}

.mili-sec {
  @include portrait {
    font-size: 4vw;
  }
  @include landscape {
    font-size: clamp(3vh, 4vw, 8vh);
  }
  line-height: 100%;
  align-self: flex-end;
}

.errorsInfo {
  margin: 0 1vw;
  line-height: 100%;
  align-self: flex-end;
}

.contBar {
  display: flex;
  align-items: center;
}

.restart {
  padding-top: 3%;
  user-select: none;
  cursor: pointer;
}