.scores-cont {
  padding: 2vh 5%;
}

.scores {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto 0.5fr auto;
  justify-items: center;
  margin-bottom: 4vh;
}

.score-name {
  display: block;
  position: relative;
}

.scores-title {
  margin: 2vw 2vw 3vw 2vw;
}

.scores-item {
  margin: 1.5vw;
}

.score-mili-sec {
  @include portrait {
    font-size: (3vw * 0.80);
  }
  @include landscape {
    font-size: clamp(1.6vh, 1.6vw, 3.2vh);
  }
}
