.submit-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  opacity: 0;
  visibility: hidden;
}

.confetti {
  position: absolute;
  z-index: 95;
  top: 0;
  left: 0;
}

.cancel {
  position: absolute;
  z-index: 100;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
  user-select: none;
}

.submit-cont {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-margin {
  margin: 5vh;
}

.submit-title {
  font-family: "Epilogue", sans-serif;
  color: $text;
  text-decoration: none;
  cursor: help;
  display: block;
  position: relative;

  &::selection {
    background-color: $text;
    color: $bg;
  }
}

.submit-form {
  position: relative;
}

.submit-input {
  @include portrait {
    width: 60vw;
    height: 5vw;
    font-size: 4vw;
  }
  @include landscape {
    width: clamp(60vh, 40vw, 80vh);
    height: clamp(6vh, 5vw, 10vh);
    font-size: clamp(4vh, 4vw, 8.5vh);
  }
  background-color: transparent;
  font-family: "Epilogue", sans-serif;
  color: $text;
  border-bottom: hsl(0, 0, 50%) solid 0.2vw;
  transition: border-bottom ease 0.5s;

  &:focus {
    outline: 0;
    border-bottom: $text solid 0.2vw;
  }
}

.submit-check {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  @include portrait {
    font-size: 4vw;
  }
  @include landscape {
    font-size: clamp(4vh, 4vw, 8.5vh);
  }
  font-family: "Epilogue", sans-serif;
  background-color: transparent;
  color: $text;
  cursor: pointer;

  &.is-active {
    visibility: visible;
  }
}