@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@font-face {
  font-family: Digital mono;
  src: url("/src/assets/digital-7 (mono).ttf");
}

@font-face {
  font-family: Digital;
  src: url("/src/assets/digital-7.ttf");
}

.mont {
  font-family: "Montserrat", serif;
}

.digi {
  font-family: "Digital mono", sans-serif;
  font-weight: 400;
  font-variant-numeric: tabular-nums lining-nums;
}

.digi-nm {
  font-family: "Digital", sans-serif;
  font-weight: 400;
  font-variant-numeric: tabular-nums lining-nums;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: serif;
  font-weight: 500;
}

body {
  width: 100%;
  background-color: #1a1a1a;
}

h1 {
  position: relative;
  display: inline;
  font-family: serif;
  line-height: 100%;
  color: #e6e6e6;
  overflow: hidden;
}

@media (orientation: portrait) {
  h1 {
    font-size: 13vw;
  }
}

@media (orientation: landscape) {
  h1 {
    font-size: clamp(14.5vh, 13vw, 18.5vh);
  }
}

h1::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

h1::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

h1 > span {
  display: block;
  position: relative;
}

h2 {
  position: relative;
  display: inline;
  font-family: "Epilogue", sans-serif;
  color: #e6e6e6;
  overflow: hidden;
}

@media (orientation: portrait) {
  h2 {
    font-size: 7.5vw;
  }
}

@media (orientation: landscape) {
  h2 {
    font-size: clamp(8.25vh, 7.5vw, 10.5vh);
  }
}

h2::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

h2::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

h2 > span {
  display: block;
  position: relative;
  font-family: "Epilogue", sans-serif;
}

h3 {
  display: inline;
  font-family: "Epilogue", sans-serif;
  color: #e6e6e6;
}

@media (orientation: portrait) {
  h3 {
    font-size: 4vw;
  }
}

@media (orientation: landscape) {
  h3 {
    font-size: clamp(4vh, 4vw, 8.5vh);
  }
}

h3::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

h3::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

p {
  margin: 0 20px;
  display: inline;
  font-size: 40px;
  font-family: "Epilogue", sans-serif;
  color: #e6e6e6;
}

@media (orientation: portrait) {
  p {
    font-size: 3vw;
  }
}

@media (orientation: landscape) {
  p {
    font-size: clamp(2vh, 2vw, 4vh);
  }
}

p::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

p::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

span::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

span::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

input::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

input::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.game {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #1a1a1a;
  z-index: 0;
}

.game::-webkit-scrollbar {
  background: #262626;
  width: 0.8vw;
}

.game::-webkit-scrollbar-thumb {
  background: gray;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.game::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

.home {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  background-color: #1a1a1a;
  overflow: hidden;
}

.name {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MG {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2.5vh;
}

.start-text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-text-decoration: underline solid #e6e6e6 5%;
          text-decoration: underline solid #e6e6e6 5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.preload-cont {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.preload-img {
  width: 11vw;
  height: 8.25vw;
}

.contBar-cont {
  width: 90%;
  padding: 2vh 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: portrait) {
  .contBar-cont {
    height: 4vw;
  }
}

@media (orientation: landscape) {
  .contBar-cont {
    height: clamp(6vh, 4vw, 10vh);
  }
}

.contBar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aling-names {
  margin: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.mainTime {
  margin: 0 1vw;
  line-height: 80%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (orientation: portrait) {
  .mainTime {
    font-size: 5vw;
  }
}

@media (orientation: landscape) {
  .mainTime {
    font-size: clamp(4vh, 5vw, 10vh);
  }
}

.mainTime::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.mainTime::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.mili-sec {
  line-height: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (orientation: portrait) {
  .mili-sec {
    font-size: 4vw;
  }
}

@media (orientation: landscape) {
  .mili-sec {
    font-size: clamp(3vh, 4vw, 8vh);
  }
}

.errorsInfo {
  margin: 0 1vw;
  line-height: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restart {
  padding-top: 3%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.cardsList {
  width: 90vw;
  min-height: 80vh;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: portrait) {
  .cardsList {
    min-height: 85vh;
    -ms-grid-columns: (minmax(0, clamp(13.33333vh, 20vw, 40vh)))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(0, clamp(13.33333vh, 20vw, 40vh)));
  }
}

@media (orientation: landscape) {
  .cardsList {
    -ms-grid-columns: (minmax(0, clamp(20vh, 13.5vw, 40vh)))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(0, clamp(20vh, 13.5vw, 40vh)));
  }
}

.card {
  aspect-ratio: 4 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media (orientation: portrait) {
  .card {
    height: clamp(8.42105vh, 11vw, 10vh);
    margin: 2vw;
  }
}

@media (orientation: landscape) {
  .card {
    height: clamp(12.30769vh, 8.25vw, 17.77778vh);
    margin: clamp(2vh, 2vw, 4vh);
  }
}

.card-img {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1 / 9;
  aspect-ratio: 1 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #2e2e33;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-left {
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 2;
  -webkit-user-drag: none;
}

.card-right {
  position: absolute;
  height: 100%;
  left: 44.9%;
  z-index: 2;
  -webkit-user-drag: none;
}

.card-bg {
  position: absolute;
  top: -10%;
  height: 120%;
  z-index: 1;
  -webkit-user-drag: none;
}

.card-name {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
  margin: 0;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  z-index: 3;
  background-color: rgba(26, 26, 26, 0.25);
  -webkit-box-shadow: 0 0 12px 10px rgba(26, 26, 26, 0.25);
          box-shadow: 0 0 12px 10px rgba(26, 26, 26, 0.25);
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-name-span {
  display: block;
  position: relative;
  opacity: 0;
  -webkit-transform: translatey(50%) skewY(10deg);
          transform: translatey(50%) skewY(10deg);
}

.scores-cont {
  padding: 2vh 5%;
}

.scores {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-bottom: 8vh;
}

@media (orientation: portrait) {
  .scores {
    -ms-grid-columns: auto auto 1fr auto;
        grid-template-columns: auto auto 1fr auto;
  }
}

@media (orientation: landscape) {
  .scores {
    -ms-grid-columns: auto auto 0.5fr auto;
        grid-template-columns: auto auto 0.5fr auto;
  }
}

.score-name {
  display: block;
  position: relative;
}

.score-child {
  opacity: 0;
  -webkit-transform: translateY(50%) skewY(10deg);
          transform: translateY(50%) skewY(10deg);
}

.scores-title {
  margin: 2vw 2vw 3vw 2vw;
}

.scores-item {
  margin: 1.5vw;
}

@media (orientation: portrait) {
  .score-mili-sec {
    font-size: 2.4vw;
  }
}

@media (orientation: landscape) {
  .score-mili-sec {
    font-size: clamp(1.6vh, 1.6vw, 3.2vh);
  }
}

.submit-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a1a1a;
  opacity: 0;
  visibility: hidden;
}

.confetti {
  position: absolute;
  z-index: 95;
  top: 0;
  left: 0;
}

.cancel {
  position: absolute;
  z-index: 100;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.submit-cont {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-margin {
  margin: 5vh;
}

.submit-title {
  font-family: "Epilogue", sans-serif;
  color: #e6e6e6;
  text-decoration: none;
  cursor: help;
  display: block;
  position: relative;
}

.submit-title::-moz-selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.submit-title::selection {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.submit-form {
  position: relative;
}

.submit-input {
  background-color: transparent;
  font-family: "Epilogue", sans-serif;
  color: #e6e6e6;
  border-bottom: gray solid 0.2vw;
  -webkit-transition: border-bottom ease 0.5s;
  transition: border-bottom ease 0.5s;
}

@media (orientation: portrait) {
  .submit-input {
    width: 60vw;
    height: 5vw;
    font-size: 4vw;
  }
}

@media (orientation: landscape) {
  .submit-input {
    width: clamp(60vh, 40vw, 80vh);
    height: clamp(6vh, 5vw, 10vh);
    font-size: clamp(4vh, 4vw, 8.5vh);
  }
}

.submit-input:focus {
  outline: 0;
  border-bottom: #e6e6e6 solid 0.2vw;
}

.submit-check {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "Epilogue", sans-serif;
  background-color: transparent;
  color: #e6e6e6;
  cursor: pointer;
}

@media (orientation: portrait) {
  .submit-check {
    font-size: 4vw;
  }
}

@media (orientation: landscape) {
  .submit-check {
    font-size: clamp(4vh, 4vw, 8.5vh);
  }
}

.submit-check.is-active {
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */