* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat";
  font-weight: 500;
}

body {
  width: 100%;
  background-color: $bg;
}


h1 {
  position: relative;
  display: inline;
  @include portrait {
    font-size: 13vw;
  }
  @include landscape {
    font-size: clamp( 14.5vh, 13vw , 18.5vh);
  }
  font-family: "Montserrat", serif;
  line-height: 100%;
  color: $text;
  overflow: hidden;

  &::selection {
    background-color: $text;
    color: $bg;
  }
}

h1 > span {
  display: block;
  position: relative;
}


h2 {
  position: relative;
  display: inline;
  @include portrait {
    font-size: 7.5vw;
  }
  @include landscape {
    font-size: clamp(8.25vh, 7.5vw, 10.5vh);
  }
  font-family: "Epilogue", sans-serif;
  color: $text;
  overflow: hidden;

  &::selection {
    background-color: $text;
    color: $bg;
  }
}

h2 > span {
  display: block;
  position: relative;
  font-family: "Epilogue", sans-serif;
}

h3 {
  display: inline;
  @include portrait {
    font-size: 4vw;
  }
  @include landscape {
    font-size: clamp( 4vh, 4vw, 8.5vh);
  }
  font-family: "Epilogue", sans-serif;
  color: $text;

  &::selection {
    background-color: $text;
    color: $bg;
  }
}

p {
  margin: 0 20px;
  display: inline;
  font-size: 40px;
  @include portrait {
    font-size: 3vw;
  }
  @include landscape {
    font-size: clamp(2vh, 2vw, 4vh);
  }
  font-family: "Epilogue", sans-serif;
  color: $text;
  
  &::selection {
    background-color: $text;
    color: $bg;
  }
}

span {
  &::selection {
    background-color: $text;
    color: $bg;
  }
}

input {
  &::selection {
    background-color: $text;
    color: $bg;
  }
}

.game {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: $bg;
  z-index: 0;

  &::-webkit-scrollbar {
    background: hsl(0, 0, 15%);
    width: 0.8vw;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0, 50%);
    transition: all 0.5s ease;
    
    &:hover {
      background: hsl(0, 0, 75%);
    }
  }
}
